* {
  font-family: "Helvetica","Arial",sans-serif;
}
.App {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.map-container {
  background: #eeeeee;
  display: flex;
  flex-grow: 1;
  width: 50%;
}
.marker-container {
  width: 50%;
  padding: 1em;
}
.map-button.mdl-button--raised.mdl-button--colored {
  background: #1565c0;
}

@media only screen and (max-device-width: 768px)  {
  .container {
    flex-wrap: wrap;
    height: 100vh;
  }
  .map-container {
    width: 100%;
    height: 50vh;
  }
  .marker-container {
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
  }
}