* {
  font-family: "Helvetica","Arial",sans-serif;
}
.App {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.map-container {
  background: #eeeeee;
  display: flex;
  flex-grow: 1;
  width: 50vw;
}
.marker-container {
  width: 50vw;
  padding: 1em;
}
.map-button.mdl-button--raised.mdl-button--colored {
  background: #1565c0;
}